! special
*.foreground:   #ffffff
*.background:   #1e1e1e
*.cursorColor:  #ffffff

! black
*.color0:       #222222
*.color8:       #333333

! red
*.color1:       #fc4e4e
*.color9:       #fc4e4e

! green
*.color2:       #aa2a2a
*.color10:      #aa2a2a

! yellow
*.color3:       #FAC863
*.color11:      #FAC863

! blue
*.color4:       #ca4a4b
*.color12:      #ca4a4b

! magenta
*.color5:       #aa2a2a
*.color13:      #aa2a2a

! cyan
*.color6:       #830c0c
*.color14:      #830c0c

! white
*.color7:       #ffffff
*.color15:      #ffffff

! Dark Colors
*.primaryDarkColor: #222222

! Light Colors
*.primaryLightColor: #ffffff

! Theme Colors
*.primaryThemeColor: #FAC863
*.secondaryThemeColor: #C79530

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #FAC863 ,  #1B2B34
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! Color scheme for active row
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! Color scheme window
rofi.color-window:                   argb:ee222222,  #FAC863 ,  #FAC863
! Separator style (none, dash, solid)
rofi.separator-style:                solid

NetHack.tile_file: /home/acalabrese/nethack/absurd32_nethack360.xpm
NetHack.Geometry: 1600x900+0+0
